.DS_store
env/
venv/
.env

# IDE folders
.idea/
.vscode/

# Django project template files
*.log
*.pot
*.pyc
__pycache__/

# Fichier static
staticfiles/

# Database
*.db
*.sqlite3
celerybeat-schedule*

# Cache files
.pytest_cache/
*.swp
*~

# macOS
.DS_Store
